.g{
    width:500px;
    margin-top: 30px;
    margin-left: 30%;
    border: 2px solid rgb(77, 77, 77);
    border-radius: 10px;
    text-align: center;
}

.cards{
    width: 200px;
    background-color: aquamarine;

}