.container{
    margin-left: 140px;
    margin-top: 20px;
    background-color: #DEDFE3;
}
h1{
    text-align: center;
}

.mapa{
    padding-left: -10px;
    margin-left: 0px;
    width: 450px;
    height: 400px;
    background-color: black;
    overflow: hidden;
    border-radius: 10px;
    border: solid 1px white;
    
}
.det{
    border-left: 1px solid rgb(27, 26, 26);
    text-align: center;
    margin-left: 10px;
}
