body {
    background: rgb(241, 236, 236);
    }
    h2{
      text-align: center;
    }
    div{
      background-color: #ffffff;
    }
    
    .row {
      content: "";
      display: table;
      clear: both;
      background: rgb(250, 247, 247);
    }
    .column {
        float: left;
        width: 50%;
        background: rgb(255, 252, 252);
        
      }
      
      /* Clear floats after the columns */
    
    p{
    text-align: justify;  
    padding: 5px;
    
    }